.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 60px;
  margin-bottom: 60px; /* Margin bottom by footer height */
  /*background-color: #808080;*/
  background-color: #e1f3df;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #222;
  border-color: #080808;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer a {
  color: #a29d96;
}

.multi-language {
  padding-top: 9px;
}

.error {
  color: red;
}

.flight-info {
  padding: 20px;
  border-bottom: groove;
  border-radius: 20px;
  background: #cdc9e9;
}

.personal-data {
  padding: 20px;
  border-bottom: groove;
  border-radius: 20px;
  background: #8b616e;
  color: whitesmoke;
}

.ticket {
  border-bottom: groove;
  border-radius: 20px;
  background-color: #c29d33;
  padding: 10px;
  border-bottom: ridge;
  border-bottom-color: #d6ccd0;
}

.search {
  border-radius: 20px;
  margin: auto;
  padding: 20px;
  background: #8b616e;
  color: whitesmoke;
  border-bottom: ridge;
}

.btn-primary {
  background: #948499;
  border-color: #8b616e;
}

.btn-primary:hover {
  color: #000000;
  background: whitesmoke;
  border-color: #8b616e;
}

.m-btn {
  padding-top: 25px;
}

.s-btn {
  padding-bottom: 20px;
}

#filtering-row {
  vertical-align: top;
}