<!DOCTYPE web-app PUBLIC
  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  id="aviasales"
  version="2.5">
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
    <param-name>credentials</param-name>
    <param-value>credentials.properties</param-value>
  </context-param>
  <!-- MAIN PAGE -->
  <servlet>
    <servlet-name>mainPageServlet</servlet-name>
    <servlet-class>com.epam.aviasales.controllers.MainPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mainPageServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>com.epam.aviasales.controllers.UserProfileServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
</web-app>
