<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>com.epam.aviasales.controllers.UserProfileServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
</web-app>
